extends layout

block content
  div.bg-light.container
    form(method="POST",action="/projects")
      div.row
        label="Project Name"
        input(type="text", name="projectName")
      div.row
        label="Git URL"
        input(type="text", name="gitUrl")
      div.row
        input(type="submit", value="Add Project")
    div
      h2="Existing projects"
      table
        tr
          th="Project"
        - each project in data
          tr
            td
              a(href="/projects/#{project.key}")=project.key
