extends layout

block content
  div.bg-light.container
    a(href="/")="Home"
    h1=data.projectName
    h2.rating.big-rating(class="rating-#{Math.floor(data.score)}")=data.score
    section.coverage
      h2="Code Coverage"
      - if (!data.coverageSummary)
        div
          form(action="/coverage",method="POST", enctype="multipart/form-data")
            input(type="file", name="coverage")
            input(type="submit", name="Upload")
      - else
        h3(class="coverage-#{data.coverageSummary.statements.status}")=(data.coverageSummary.statements.pct + " %")
    section.summary
      h2="Files"
      table
        tr
          th="File"
          th="Coverage %"
          th="Complexity Issues"
          th="Security Issues"
          th="Lint Issues"
          th="Duplicate Code"
          th="Rating"
        - each report in data.files
          tr
            td
              a(href="/files/#{report.fileNum}")=report.file
            - if (report.coverage)
              td(class="coverage-#{report.coverage.summary.statements.status}")=report.coverage.summary.statements.pct
            - else
              td(class="coverage-red")=0
            td=report.complexity.errors.length
            td=report.security.length
            td=report.jshint.length
            td=report.duplicates.length
            td.rating(class="rating-#{report.rating}")=report.rating
    section.summary
      h2="Dependencies"
      table
        tr
          th="Name"
          th="Required"
          th="Stable"
          th="Latest"
        - each report in data.dependencies.prod
          tr
            td=report.name
            td=report.versions.required
            td=report.versions.stable
            td=report.versions.latest
        - each report in data.dependencies.dev
          tr
            td=report.name
            td=report.versions.required
            td=report.versions.stable
            td=report.versions.latest
